APP_NAME=nestjs-starter-mysql-ddd
NODE_ENV=development
PORT=4000

DATABASE_HOST=host.docker.internal
DATABASE_USER=devel
DATABASE_PASSWORD=devel
DATABASE_NAME=devel
DATABASE_TYPE=mysql
DATABASE_PORT=3306